<template name="edit">
	<div class="template-edit content col-xs-9">
		{{#if item}}
		<h2>
			{{item.name}}
		</h2>
		<p>
			type: {{item.type}}
		</p>
		{{#with version}}
		{{> version }}
		{{/with}}
		{{/if}}
	</div>
</template>

<template name="version">
	<form role="form">
		<p>
			version: {{version}}
		</p>
		{{#each attributes}}
		<div class="form-group">
			<label for="{{../_id}}_{{name}}">{{name}}</label>
			<input type="text" id="{{../_id}}_{{name}}" class="form-control" data-name="{{name}}" placeholder="{{name}}" value="{{value}}">
		</div>
		{{/each}}
		<button class="btn btn-default">Save</button>
	</form>
</template>