<template name="edit">
	<div class="template-edit content col-xs-9">
		{{#if item}}
		<h2>
			{{item.name}}
		</h2>
		<p>
			type: {{item.type}}
		</p>
		{{#with version}}
		{{> version }}
		{{/with}}
		{{/if}}
	</div>
</template>

<template name="version">
	<form role="form">
		<p>
			version: {{version}}
		</p>

		{{#if type.attributeArray}}
		<h2>Attributes</h2>
		{{#each type.attributeArray}}
		<div class="form-group">
			<label for="{{../_id}}_{{this.name}}">{{this.name}}</label>
			<input type="text" id="{{../_id}}_{{this.name}}" class="form-control" data-name="{{this.name}}" placeholder="{{this.name}}" value="{{attribute ../this}}">
		</div>
		{{/each}}
		{{/if}}

		<button class="btn btn-default">Save</button>

		{{#if type.childArray}}
		<h2>Children</h2>
		{{#each type.childArray}}
		<p>
			{{this.name}} {{this.types}}
		</p>
		{{/each}}
		{{/if}}
	</form>
</template>