<template name="edit">
	<div class="template-edit content col-xs-9">
		{{#if item}}
		{{> breadcrumbs }}
		<h2 class="name">
			{{item.name}}
		</h2>
		<p>
			Type: {{item.type.name}}
		</p>
		{{#if $has item.hints}}
		<p>
			Hints: {{$print item.hints}}
		</p>
		{{/if}}

		{{> attributes }}

		{{> children }}

		{{/if}}

		{{> addItemModal }}

	</div>
</template>

<template name="breadcrumbs">
	<ol class="breadcrumb">
		{{#each ancestors}}
		<li><a href="/item/{{this._id}}">{{this.name}}</a></li>
		{{/each}}
		<li class="active">{{item.name}}</li>
	</ol>
</template>

<template name="attributes">
	<form role="form">
		{{#if type.attributeArray}}
		<h2>Attributes</h2>
		{{#each type.attributeArray}}
		<div class="form-group">
			<label>{{this.name}}</label>
			{{#if $eq this.type 'string'}}
			{{#with context}}
			{{> codemirror }}
			{{/with}}
			{{else}}
			<input type="text" class="form-control" data-name="{{this.name}}" placeholder="{{placeholder}}" value="{{attribute}}">
			{{/if}}
		</div>
		{{/each}}
		<button type="submit" data-action="save" class="btn btn-default">Save</button>
		{{/if}}
	</form>
</template>

<template name="children">
	{{#if $or type.childArray type.list}}
	<h2>Children</h2>
	{{/if}}
	{{> childrenType }}
	{{> childrenList }}
</template>
