
<template name="tree">
	<nav class="tree col-xs-3">
		<ul id="outer">
			{{#each getRoot}}
			{{> main}}
			{{/each}}
		</ul>
	</nav>
</template>

<template name="main">
	{{ register }}
	<li data-order="{{order}}" class="{{selected}}">
		<div class="item-holder">
			<span class="item-icon glyphicon {{glyph}}"></span>
			<p id="{{_id}}" class="item-label">
				{{#if dirty}}
				<span class="dirty-icon glyphicon glyphicon-star"></span>
				{{else}}
					{{#if hasDirtyChildren}}
					<span class="dirty-icon glyphicon glyphicon-star-empty"></span>
					{{/if}}
				{{/if}}
				<a href="{{pathFor 'items'}}" class="{{disabledClass}}">{{name}}</a>
			</p>
		</div>

		{{#if isOpen}}
		<ul>
			{{#each getChildren}}
			{{> main}}
			{{/each}}
		</ul>
		{{/if}}
	</li>
</template>