
body {
}

div.template-edit > h2.name:first-letter {
	text-transform: uppercase;
}

div.item-holder {
	padding:3px 5px 2px 5px;
}

li.selected > div.item-holder p.item-label {
	font-weight: bold;
}

p.item-label {
	padding: 3px;
}

p.item-label, span.item-icon {
	cursor: pointer;
}

nav.tree div.item-holder > span.item-icon,
nav.tree div.item-holder > p.item-label > span.dirty-icon {
	opacity: 0.5;
}
li.selected > div.item-holder > span.item-icon,
li.selected > div.item-holder > p.item-label > span.dirty-icon,
li > div.item-holder:hover > span.item-icon,
li > div.item-holder:hover > p.item-label > span.dirty-icon {
	opacity: 1.0;
}
a:hover {
	text-decoration: none;
}
a.item-disabled, a.item-disabled:hover {
	text-decoration: line-through;
}

nav.tree ul {
	list-style-type: none;
	padding-left: 10px;
}

nav.tree li {
	white-space: nowrap;
}

nav.tree {
	padding: 10px;
	padding-top: 30px;
	overflow: auto;
}

div.content {
	padding: 10px;
}

span.glyphicon + p {
	display: inline;
}

ul.comma-seperated, ul.comma-seperated > li {
	padding:0;
	margin:0;
	list-style-type:none;
	display:inline;
}
ul.comma-seperated > li:after {
	content: ', ';
}
ul.comma-seperated > li:last-child:after {
	content: '';
}


.CodeMirror-scroll {
	padding: 4px;
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 18px;
	color: #555555;
	background-color: white;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.CodeMirror-scroll {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

.field_with_errors .CodeMirror-scroll {
	border-color: #b94a48;
}

.CodeMirror {
	overflow: visible;
}
.CodeMirror-focused {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

}
