
<template name="tree">
	<nav class="tree col-xs-3">
		<ul id="outer">
			{{#each getRoot}}
			{{> main}}
			{{/each}}
		</ul>
	</nav>
</template>

<template name="main">
	<li data-order="{{order}}" class="{{selected}}">
		{{#if isItem}}
		<div class="item-holder">
			<span class="item-icon glyphicon {{glyph}}"></span>
			<p id="{{_id}}" class="item-label">
				<a href="{{pathFor 'items'}}">{{name}}</a>
			</p>
		</div>
		{{/if}}

		{{#if isOpen}}
		<ul>
			{{#each getChildren}}
			{{> main}}
			{{/each}}
		</ul>
		{{/if}}
	</li>
</template>